@page "/covenantuser/create"
@attribute [Authorize(Roles = "Administrator")]
@inherits OwningComponentBase<IEasyPeasyService>

@using Microsoft.AspNetCore.Components.Authorization
@using EasyPeasy.Core
@using EasyPeasy.Models.EasyPeasy
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Create User</h1>
</div>

<EasyPeasyUserRegisterForm EasyPeasyUserRegister="EasyPeasyUserRegister" OnSubmit="OnCreateUser">
    <span class="fe fe-plus"></span> Create
</EasyPeasyUserRegisterForm>

@code {
    [Parameter]
    public EasyPeasyUserRegister EasyPeasyUserRegister { get; set; } = new EasyPeasyUserRegister();

    public async Task OnCreateUser(EasyPeasyUserRegister register)
    {
        try
        {
            AuthenticationState state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            await Service.CreateUserVerify(state.User, register);
            NavigationManager.NavigateTo("/covenantuser");
        }
        catch (Exception e) when (e is ControllerNotFoundException || e is ControllerBadRequestException || e is ControllerUnauthorizedException)
        {
            // ModelState.AddModelError(string.Empty, e.Message);
            // return RedirectToAction(nameof(Index));
        }
    }
}
